# Ignore raw data
data/raw/
*.zip
*.csv

# Ignore BI / large files
*.pbix
*.twbx
*.hyper

# Ignore DB files
*.db
*.sqlite

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/*.rtf
!data/processed/*.csv
